<div id="header" class="header row middle-xs">
  <div class="icon col-xs"><img src="Logo.png"></div>
  <nav class="right-xs">
    <ul>
      <li> <a routerLink="/home" routerLinkActive="active"> <p> Home </p> </a> </li>
      <li> <a routerLink="/about" routerLinkActive="active"> <p> About </p> </a> </li>
      <li> <a routerLink="/services" routerLinkActive="active"> <p> Services </p> </a> </li>
      <li> <a routerLink="/portfolio" routerLinkActive="active"> <p> Portfolio </p> </a> </li>
      <li> <a routerLink="/news" routerLinkActive="active"> <p> News </p> </a> </li>
    </ul>
  </nav>
</div>

<router-outlet> </router-outlet>

<div id="footer" class="footer">

</div>
