.header {
  height: 100px;
  position: fixed;
  width: 100%;
  img {
    margin: 0 0 0 40px;
  }
  nav {
  //  float: right;
  display: inline-block;
  }
  ul {
    list-style: none;
    padding: 0 40px;
  }
  li {
    display: inline-block;
    padding: 0 15px;
  }
  a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    &.active {
      color: rgb(0,0,0);
    }
  }
  p {
    font-size: 0.85em;
  }
}
