.home {
  h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 50px;
    font-weight: 400;
    font-size: 2em;
  }
  p {
    text-align: center;
    margin: 0 auto;
    opacity: 0.5;
    font-size: 1.1em;
  }
  .divider {
    width: 100px;
    height: 1px;
    background: black;
    opacity: 0.5;
    margin: 50px auto;
  }
}

i {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: load8 3s infinite linear;
  animation: load8 3s infinite linear;
}
img {
  position: absolute;
  right: 75px;
  bottom: 100px;
}

@keyframes load8 {
  0%, 10%, 25%, 40%, 50% {
    transform: translateY(0);
  }
	20% {
    transform: translateY(-30px);
  }
	30% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
